
*{
  padding: 0;
  margin: 0;
}
body {
    background-image: url("images/stars_sky_night_4k.jpg");
    background-size: 100%;

}
div.background {
  background: url("images/stars_sky_night_4k.jpg") repeat;
  border: 2px solid white;
}

@import url('https://fonts.googleapis.com/css?family=Oswald:700');
.font{
  font-family: 'Oswald', sans-serif;
color: white;
font-size: 24px;
font-weight:bold;
padding: 5px;
margin: 5px;
}
img.logo {
  padding-top: 50px;
}
div.transbox {
    margin: 30px;
    background-color: Navy;
    border: 1px solid white;
    opacity: 0.85;
}

div.transbox p {
  margin: 2%;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: Blue;
     position: fixed;
     top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: Navy;
}
