
body {
    background-image: url("images/spacestars.jpg");
    background-size: 100%;
}
.midtext {
 text-align: center;


}
.whitetext{
  color: white;
}

.whitetextbox{
  background-color: white;
  border-color: white;
  border-style: solid;
  border-radius: 100;
  background-position: center;
  width: 20%;
}
.fontsize:{
fontsize 12;
}
img.logoresize {
  max-width:100%;
  max-height:100%;
}
