
body {
    background-color: black;
    background-image: url("images/arctic.jpg");

    background-repeat: no-repeat;
    background-size: 100%;
}
.midtext {
 text-align: center;


}
.whitetext{
  color: white;
}

.whitetextbox{
  background-color: white;
  border-color: white;
  border-style: solid;
  border-radius: 100;
  background-position: center;
  width: 20%;
}
.fontsize:{
fontsize 12;
}
